<gridster [options]="gridsterConfig" [style.height.%]="100">
  <gridster-item [item]="item" *ngFor="let item of collection">
      <app-dashart-item [dashart]="item" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-dashart-item>
  </gridster-item>
</gridster>
